<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936358713872-2slv2cen7e0tgrtpb6aiv8o9k3igibl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936358713872-2slv2cen7e0tgrtpb6aiv8o9k3igibl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCKRy8L78_xfzCoLKIiZVM_TSVGamgTJIc</string>
	<key>GCM_SENDER_ID</key>
	<string>936358713872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-bc75a</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-bc75a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936358713872:ios:295749e9f0f3418a428895</string>
</dict>
</plist>